<ng-container *ngIf="categories$ | async as categories">
    <form #setupForm="ngForm" class="d-flex flex-row align-items-center gap-3">
        <!-- Select category -->
        <mat-form-field>
            <mat-label>Select a category</mat-label>
            <mat-select id="categorySelect" [(ngModel)]="selectedCategory" name="category" required>
                <mat-option>Select a category</mat-option>
                <mat-option *ngFor="let category of categories" [value]="category.id"
                    >{{ category.name }}</mat-option
                >
            </mat-select>
        </mat-form-field>

        <!-- Select difficulty -->
        <mat-form-field>
            <mat-label>Select a difficulty</mat-label>
            <mat-select
                id="difficultySelect"
                [(ngModel)]="selectedDifficulty"
                name="difficulty"
                required
            >
                <mat-option>Select a difficulty</mat-option>
                <mat-option *ngFor="let difficulty of difficulties" [value]="difficulty"
                    >{{ difficulty | titlecase }}</mat-option
                >
            </mat-select>
        </mat-form-field>

        <!-- Create quiz -->
        <button
            mat-raised-button
            color="primary"
            [disabled]="!setupForm.valid"
            (click)="createQuiz(setupForm.value)"
        >
            Create
        </button>
    </form>
</ng-container>
