<ng-container *ngIf="questionnaire$ | async as questionnaire">
    <form
        #questionnaireForm="ngForm"
        class="d-flex flex-column"
        (ngSubmit)="submitAnswers(questionnaire, questionnaireForm.value)"
    >
        <app-question
            *ngFor="let question of questionnaire.questions; index as i"
            [question]="question"
            [idQuestion]="'question' + i"
        ></app-question>

        <button
            mat-raised-button
            color="primary"
            class="mt-3"
            *ngIf="questionnaireForm.valid"
            type="submit"
        >
            Submit
        </button>
    </form>
</ng-container>
