<ng-container *ngIf="questionnaire$ | async as questionnaire">
    <form #questionnaireForm="ngForm">
        <app-quiz-maker-questionnaire-question
            *ngFor="let question of questionnaire; index as i"
            [question]="question"
            [idQuestion]="'question' + i"
        ></app-quiz-maker-questionnaire-question>

        <button
            mat-raised-button
            color="primary"
            *ngIf="questionnaireForm.valid"
            (submit)="submitAnswers(questionnaireForm.value)"
            (click)="submitAnswers(questionnaireForm.value)"
        >
            Submit
        </button>
    </form>
</ng-container>
