<article *ngIf="question" class="mb-3 py-2 px-3 quiz-question-container">
    <h3>{{question.question | decodeHtml}}</h3>

    <div class="d-flex flex-row gap-3">
        <mat-button-toggle-group
            [(ngModel)]="selectedAnswer"
            aria-label="Answer"
            [name]="idQuestion"
            required
        >
            <mat-button-toggle *ngFor="let answer of question.answers" [value]="answer"
                >{{answer | decodeHtml}}</mat-button-toggle
            >
        </mat-button-toggle-group>
    </div>
</article>
